<p style="color: green"><%= notice %></p>
<div id="home">
  <div class="dance">
    <img src="https://i.gifer.com/3MH3.gif" style="height: 150px">
    <br>
    <img src="https://media.tenor.com/hjjG_i4XmcEAAAAM/lizard-dance.gif" style="height: 250px">
  </div>

  <div class="board" id="cells">
    <% @cells.each do |cell| %>
      <%= render cell %>
    <% end %>
  </div>

  <div id="color_menu">
    <div class="color_option">
      <%= button_to "", update_color_application_index_path(:my_id => "#0ac910" ), 
      {class: 'color_option', id: 'green_color_option'}%>
    </div>
    <div class="color_option">
      <%= button_to "", update_color_application_index_path(:my_id => "#0a9bf5" ), 
      {class: 'color_option', id: 'blue_color_option'}%>
    </div>
    <div class="color_option">
      <%= button_to "", update_color_application_index_path(:my_id => "#f50000" ), 
      {class: 'color_option', id: 'red_color_option'}%>
    </div>
    <div class="color_option">
      <%= button_to "", update_color_application_index_path(:my_id => "#000000" ), 
      {class: 'color_option', id: 'white_color_option'}%>
    </div>
    <div class="color_option">
      <%= button_to "", update_color_application_index_path(:my_id => "#ffffff" ), 
      {class: 'color_option', id: 'black_color_option'}%>
    </div>
  </div>
</div>



<script type="text/javascript">
  function addCellOnClicks() {
    let cells = document.getElementsByClassName("cell_button")
    
    for (var i = 0; i < cells.length; i++) {
      cells[i].addEventListener("click", showColorMenu)
    }
  }

  function showColorMenu() {
    document.getElementById("color_menu").style.display = "block"
  }

  function addMenuOnClicks(){
    let menu_buttons = document.getElementsByClassName("color_option")
    for (var i = 0; i < menu_buttons.length; i++) {
      menu_buttons[i].addEventListener("click", updateColor)
    }
  }

  async function updateColor(){
    if(event) {
      let style = getComputedStyle(event.target)
      await new Promise(resolve => setTimeout(resolve, 100))
      window.location.reload()
    }
  }
</script>

<script type="text/javascript">
  var x_loc = 1
  addCellOnClicks()
  addMenuOnClicks()
</script>